# Ignore everything by default
*

# Allow traversal into directories
!*/

# Allow Python files
!*.py

# Allow this file
!.gitignore

# Allow Godot project files
!godot_project/project.godot
!godot_project/main.tscn
!godot_project/*.gd
!godot_project/level.glb
godot_project/.godot/
godot_project/*.import
godot_project/node_3d.tscn

# Allow GitHub Pages export
!godot_project/docs/
!godot_project/docs/**
